*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#can{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#result{
    height: 150px;
    width: 300px;
    background-color: rgb(18, 12, 12);
    margin: 1rem auto;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#btn{
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px #cdb6b6;
}
#btn:hover{
    transform: translate(2px,-5px);
}
.buttons{
    opacity: 0.5;
    position: fixed;
}
.buttons button{
    background: none;
    border: none;
}
.buttons button img{
    width: 50px;
    height: auto;
}
#left-user{
    position: absolute;
    top: 160px;
    left: -177px;
}
#right-user{
    position: absolute;
    top: 160px;
    left: 115px;
}
#left-com{
    position: absolute;
    top: -230px;
    left: -177px;
}
#right-com{
    position: absolute;
    top: -230px;
    left: 115px;
}
